@font-face {
  font-family: 'Inter-fallback';
  size-adjust: 95%;
  src: local('Helvetica');
}
@font-face {
  font-family: 'Poppins-fallback';
  size-adjust: 93%;
  src: local('Helvetica');
}
:root {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Delicious Handrawn', cursive;
  font-family: 'Poppins', sans-serif;
  font-family: 'Oswald', sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 1rem;
  line-height: 1.5;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: #000;
  background-color: white;
  overflow-x: clip;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', 'Inter-fallback';
}
p,
li {
  font-size: 1.625rem;
  line-height: 1.77;
}
button {
  font: inherit;
  cursor: pointer;
}
img {
  max-width: 100%;
}
.semi-bold {
  font-weight: 600;
}
.underline {
  text-decoration: underline;
  text-decoration-thickness: 0.075em;
  text-underline-offset: 0.1em;
}
.text-green {
  color: #26bc30;
}
strong,
.bold {
  font-weight: 700;
}
.main {
  padding: 0 12.153%;
  max-width: 90rem;
  margin: 0 auto;
}
.header__title {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.75rem;
  font-weight: 800;
  text-transform: uppercase;
  line-height: normal;
  color: white;
  padding: 1.5rem;
  text-align: center;
  letter-spacing: -0.035rem;
  border-bottom: 0.0625rem solid #fff;
  background: #000;
}
/* Intro Section */
.intro {
  text-align: center;
  padding-top: 6.375rem;
  color: white;
  position: relative;
}
.intro__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 400px;
  overflow: clip;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.intro__bg img {
  width: 100vw;
  object-fit: cover;
}

.intro__headline {
  color: #fff;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 0.9;
  letter-spacing: -0.045rem;
}
.intro__headline--highlight {
  color: #e0b338;
}
.intro__subheadline {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  color: #fff;
  text-align: center;
  letter-spacing: -0.035rem;
  border-radius: 0.75rem;
  border: 0.125rem solid #fff;
  max-width: 68rem;
  margin: 2.75rem auto 0;
  padding: 1.25rem;
}
.intro__subheadline .highlight {
  color: #e0b338;
  font-weight: 800;
}
.video__tag {
  color: #000;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.42;
  padding: 0.9375rem 1rem;
  background: #ebdca9;
}
.video__tag span {
  letter-spacing: -0.02em;
}

.video__wrapper {
  position: relative;
  margin-top: 4.125rem;
  line-height: 0;
  max-width: 69.125rem;
  margin: 4.125rem -0.625rem 0;
}
.video__wrapper video {
  width: 100%;
  height: auto;
  border: 0.5rem solid white;
  box-shadow: 0rem 4.0625rem 5.59375rem 0rem rgba(0, 0, 0, 0.25);
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
  line-height: 0;
  border: 0;
  background-color: transparent;
}
.play-btn img {
  width: 5.4375rem;
  height: auto;
}
#playBtn.hide {
  display: none;
}

.intro__cta {
  margin-top: 2.5rem;
}
.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: fit-content;
  font-size: 1.89975rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  background: radial-gradient(99.79% 100% at 31.97% 99.5%, rgba(255, 255, 255, 0) 0%, rgba(189, 138, 184, 0.3) 100%), #44b934;
  box-shadow: 0rem -0.3125rem 0rem 0rem #318636 inset;
  border-radius: 0.375rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 2.125rem 4rem 2.375rem;
  margin-left: auto;
  margin-right: auto;
}
.cta .arrow-icon {
  width: 2rem;
  height: auto;
}
/* timer */
.intro__timer {
  text-align: center;
  margin-top: 0.375rem;
  background-image: url('../images/emoji-1.svg'), url('../images/emoji-2.svg');
  background-repeat: no-repeat;
  background-position: 90% 20%, 5% 105%;
}
.intro__timer-title {
  font-size: 1.5625rem;
  line-height: 2.88;
  letter-spacing: 0;
}

.intro__countdown {
  font-family: 'Montserrat', sans-serif;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75rem;
  padding: 0.6875rem;
  border: 0.0625rem dashed #db6157;
  margin-top: 0.25rem;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.125rem;
}

.intro__block {
  text-align: center;
  border: 0.0625rem solid #db6157;
  min-width: 8.625rem;
  border-radius: 0.75rem;
}

.intro__number {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  background-color: #db6157;
  margin-top: -0.0625rem;
  display: block;
  padding: 0.3125rem 0.875rem;
  border-radius: 0.75rem 0.75rem 0 0;
}

.intro__label {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: normal;
  display: block;
  padding: 0.25rem 0 0.625rem;
  text-transform: uppercase;
}
@media (max-width: 48em) {
  .cta {
    font-size: 2rem;
    padding: 1.9rem 5rem 2.4rem;
  }
  .intro__headline {
    font-size: 3.2rem;
  }
  .video__tag {
    font-size: 1.65rem;
  }
  .intro__bg {
    bottom: 33%;
  }
  .intro__bg img {
    height: 100%;
  }
}
/* =================== isnot section ================== */
.isnot {
  margin-top: 8rem;
}
.isnot__wrapper {
  display: flex;
  border-radius: 1.5625rem;
  border: 0.125rem solid #e0b338;
  background: #ebdca9;
  padding: 2.125rem 2.875rem;
}
.isnot__wrapper > * {
  flex: 1;
  max-width: 50%;
}
.isnot__content {
  max-width: 55%;
  margin-right: -1.25rem;
}
.isnot__text {
  color: #000;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.0125rem;
}
.isnot__text strong {
  font-weight: bold;
}
.isnot__note {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.42;
  text-decoration-line: underline;
  margin-top: 1.25rem;
}
.isnot__image img {
  max-width: 128%;
  margin-left: 1.5625rem;
  margin-top: 1rem;
  margin-bottom: -23%;
}
.isnot__cta {
  margin-top: 9.5rem;
}
/* ==================== Results ================ */
.results {
  margin-top: 6.875rem;
}
.results__title {
  text-align: center;
  font-size: 3.875rem;
  line-height: 1.23;
}
.results__title span {
  background-color: #ffd54a;
  display: inline-block;
  line-height: 0.75;
  padding-bottom: 0.4375rem;
}
.results__image-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2.625rem;
}
.results__image {
  margin-bottom: -24%;
  margin-left: -8%;
  margin-right: -10%;
  max-width: 125%;
}
.results .testimonial {
  border: 0.125rem solid #ffd54a;
}
.results .testimonial__quote::before {
  background-image: url('../images/fa-solid_quote-left.svg');
}
.results__image--2 {
  margin-top: 6rem;
  border-radius: 1.5625rem;
  box-shadow: 0rem 1.375rem 3.34375rem 0rem rgba(0, 0, 0, 0.25);
}
/* ==================== Start Selling ================ */
.startsell {
  margin-top: 3.625rem;
  padding-bottom: 7.375rem;
  position: relative;
}
.startsell::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  bottom: 0;
  background-color: #f4f4f4;
  z-index: -1;
  top: -33%;
}
.startsell__title {
  text-align: center;
  font-size: 3.875rem;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  max-width: 40rem;
  margin: 0 auto;
}
.startsell__title .highlight {
  color: #e0b338;
}
.startsell__title .underline {
  font-size: 4.5rem;
  text-transform: none;
}
.startsell__text-container {
  margin-top: 2.5rem;
  max-width: 56.5625rem;
}
.startsell__text-container--2 {
  margin-top: 5.9375rem;
  max-width: none;
}
.startsell__text-container p {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.5;
}
.startsell__text-container .highlight {
  color: #da6156;
}
.startsell__image-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: -12%;
}
.startsell__image--1 {
  margin-left: -15%;
  margin-top: -4%;
}
.startsell__image--2 {
  margin-top: -12%;
  margin-left: 0.5rem;
}
@media (max-width: 48em) {
  .startsell__image-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .startsell__text-container--2 {
    margin-top: 10rem;
  }
}
/* ===================== Compare ==================== */
.compare {
  margin-top: 3.75rem;
}
.compare__title {
  text-align: center;
  font-size: 3.875rem;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: -0.02em;
}
.compare__title--highlight {
  color: #e0b338;
}
.compare__img-1 {
  border-radius: 1.5625rem;
  border: 0.0625rem solid #000;
  margin-top: 4.125rem;
}
.compare__text-cont p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.55;
  margin-top: 1.25rem;
}
.compare__text-cont--1 {
  margin-top: 2.125rem;
}
.compare__text-cont--2 {
  margin-top: -0.25rem;
}
.compare__text-cont--2 p {
  margin-bottom: 1.25rem;
}
.compare__text-cont--2 .highlight {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.42;
  display: inline;
  background-color: #ffd54a;
  padding: 0.1875rem 0;
}
.compare__cont-3 {
  display: flex;
  gap: 3rem;
}
.compare__cont-3 > * {
  flex: 1;
  max-width: calc(50% - 1.5rem);
}
.compare__cont-3 p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.56;
  margin-top: 1.5rem;
}
.compare__img-2 {
  margin-left: 1.25rem;
  padding-left: 1rem;
}
/* ======================== Low Hang =================== */
.lowhang {
  margin-top: 3.125rem;
}
.lowhang__title {
  text-align: center;
  font-size: 3.875rem;
  line-height: 1.16;
  letter-spacing: -0.02em;
}
.lowhang__title .highlight {
  color: #e0b338;
}
.lowhang__subtitle {
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.55;
  margin-top: 1.875rem;
}
.lowhang__subtitle .highlight {
  color: #4395f3;
  font-weight: 800;
}
.lowhang__img-1 {
  border-radius: 1.25rem;
  box-shadow: 0rem 3.25rem 4.40625rem 0rem rgba(0, 0, 0, 0.25);
  margin-top: 3.25rem;
}
.lowhang__text-cont h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.17;
}
.lowhang__text-cont--1 h3 {
  margin-top: 3.375rem;
}
.lowhang__text-cont p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.56;
  margin-top: 1rem;
}
.lowhang__text-cont--1 p {
  margin-top: 1rem;
}
.lowhang__text-cont--2 p {
  margin-top: 1.75rem;
}
.lowhang__text-cont--3 {
  margin-top: 4.875rem;
}
.lowhang__text-cont--3 h3 {
  color: #db6157;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.08;
}
.lowhang__img-2 {
  display: block;
  text-align: center;
  border-radius: 1.25rem;
  border: 0.0625rem solid #cecece;
  box-shadow: 0rem 4.125rem 5.5rem 0rem rgba(0, 0, 0, 0.15);
  margin: 3.375rem auto;
}
.lowhang__text-cont--4 {
  margin-top: 1.75rem;
}
.lowhang__text-cont--4 h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.17;
}
.lowhang__text-cont--4 p {
  margin-top: 1.375rem;
}
/* ==================== Secret Content ================ */
.secret {
  margin-top: 3.125rem;
}
.secret__content {
  border: 0.125rem dashed #dcc97d;
  background: #fffef9;
  padding: 0 1rem 3.625rem;
}
.secret__title {
  text-align: center;
  font-size: 3.875rem;
  line-height: 1.16;
  letter-spacing: -0.02em;
  padding: 0.5rem 2.5rem 1.25rem;
  background: #dcc97d;
  width: fit-content;
  margin: 0 auto;
}
.secret__subtitle {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.56;
  margin-top: 2rem;
}
.secret__subheadline {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.25;
  text-align: center;
  margin-top: 1rem;
}
.secret__subheadline .highlight {
  color: #e0b338;
}
.secret__subtitle-2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.54;
  max-width: 85%;
  margin: 2rem auto 0;
}
.secret__text-wrapper {
  margin-top: 2.625rem;
  padding: 0 1.125rem;
}
.secret__text-wrapper p {
  color: #000;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.56;
  margin-top: 1.75rem;
}
.arrow__lines {
  display: block;
  text-align: center;
  margin: 0 auto;
  max-width: 56%;
}
.secret__cards {
  display: flex;
  gap: 1.375rem;
  padding-top: 2.625rem;
}
.secret__card {
  border-radius: 1.5625rem;
  border: 0.0625rem solid #ffd54a;
  background: #fffef9;
  padding: 0 1.875rem 2.625rem;
  flex: 1;
  max-width: calc(50% - 0.6875rem);
}
.secret__card-img {
  border-radius: 0.8125rem;
  box-shadow: 0rem 0.9375rem 4.175rem 0rem rgba(0, 0, 0, 0.25);
  display: block;
  margin: -2.625rem auto 0;
}
.secret__card-title {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.42;
  padding: 1.25rem;
  border-radius: 0.75rem;
  border: 0.125rem dashed #f00;
  background: #f8c2c2;
  margin-top: 1.5rem;
}
.secret__card-title img {
  width: 2rem;
  height: auto;
}
.secret__list {
  list-style: none;
  margin-top: 1.875rem;
}
.secret__list li {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.56;
  margin-top: 1.75rem;
}
.secret__list li .highlight {
  color: #f00;
}
/* ===================== Frust Section =================== */
.frust {
  margin-top: 3.25rem;
}
.frust__wrapper {
  display: flex;
  gap: 2.25rem;
}
.frust__content,
.frust__image {
  max-width: calc(50% - 1.125rem);
}

.frust__content {
}
.frust__tag {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.27;
}
.frust__title {
  font-size: 3.875rem;
  line-height: 1.16;
  letter-spacing: -0.02em;
  margin-top: 1.25rem;
}
.frust__title .highlight {
  color: #e0b338;
}
.frust__subtitle {
  color: #db6157;
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.27;
  margin-top: 1.25rem;
}
.frust__text-wrapper {
  margin-top: 2.25rem;
}
.frust__text-wrapper p {
  color: #000;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.56;
  margin-top: 1.75rem;
}
.frust__ques {
  color: #db6157;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  margin-top: 1.5rem;
}
.frust__list {
  margin-top: 2.1875rem;
  margin-left: -0.625rem;
}
.frust__list li {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.17;
  display: flex;
  align-items: flex-start;
  gap: 1.25rem;
  margin-bottom: 1.75rem;
}
.frust__list li img {
  margin-top: 0.1em;
  width: 1.75rem;
}
.frust__image img {
  border-radius: 1.5625rem;
  box-shadow: 0rem 2rem 4.3625rem 0rem rgba(0, 0, 0, 0.15);
}
/* ================== Fail ================= */
.fail {
  margin-top: 5.5rem;
}
.fail__title {
  font-size: 3.875rem;
  color: #e0b338;
  text-align: center;
  line-height: 1.16;
  letter-spacing: -0.02em;
}
.fail__title .highlight {
  color: black;
  text-decoration: underline;
}
.fail__text-wrapper {
  margin-top: 2.875rem;
}
.fail__text-wrapper p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.56;
  margin-top: 1.75rem;
}
.fail__image {
  text-align: center;
  margin-top: 5rem;
}
.fail__image img {
  border-radius: 1.25rem;
  border: 0.0625rem solid #000;
  box-shadow: 0rem 3rem 3.53125rem 0rem rgba(0, 0, 0, 0.25);
  max-width: 80%;
}
/* ================ Alone =============== */
.alone {
  position: relative;
}
.alone__content-wrapper {
  border-radius: 1.5625rem;
  border: 0.125rem solid #e0b338;
  background: #fffef9;
  padding: 3.125rem 4.0625rem;
  margin-top: 6.5625rem;
}
.alone__content {
  position: relative;
  z-index: 1;
}
.alone__img {
  position: absolute;
  top: 0.125rem;
  right: 0.125rem;
  border-radius: 1.4375rem;
  max-width: 57%;
}
.alone__title {
  font-size: 3.875rem;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: -0.02em;
}
.alone__title .highlight {
  color: #e0b338;
}
.alone__text-wrapper {
  margin-top: 2.125rem;
  max-width: 42.5rem;
}
.alone__text-wrapper p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.56;
  margin-top: 1.75rem;
}
.alone__list {
  list-style: none;
  margin-top: 1rem;
  max-width: 43.75rem;
}
.alone__list li {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  margin-top: 0.625rem;
}
.alone__list li img {
  margin-top: 0.1em;
  width: 1.5rem;
  height: auto;
}
/*==================== Introducing =======================*/
/* ======= Showcase ======= */

/* Showcase section */
.showcase {
  margin-top: 4.5rem;
  text-align: center;
}

.showcase__title-tag {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.01em;
}
.showcase__title {
  text-align: center;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.01em;
}

.showcase__subtitle {
  font-size: 1.375rem;
  font-weight: 600;
  background: #dfc981;
  width: fit-content;
  margin: 1.1875rem auto 0;
  padding: 0.75rem 1.75rem;
  letter-spacing: 0.01em;
}
.showcase__subtitle span {
  text-decoration: underline;
  font-weight: 800;
  line-height: 1.69;
}

.showcase__tagline {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 2;
  margin-top: 0.625rem;
  letter-spacing: 0;
}
.showcase__image-container {
  margin-top: 4.5rem;
  margin-right: -1.875rem;
}
.showcase__list {
  text-align: left;
  max-width: 46.875rem;
  margin: 0 auto;
  margin-top: 8rem;
}
.showcase__list li {
  display: flex;
  gap: 1.625rem;
  list-style: none;
  text-decoration: underline;
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.64;
  margin-top: 2.375rem;
}
.showcase__list li::before {
  content: '';
  display: inline-block;
  width: 2.625rem;
  height: 2.625rem;
  background-image: url('../images/green-check.svg');
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
}
.showcase__list-note {
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 1.22;
  text-decoration-line: underline;
  display: flex;
  align-items: center;
  gap: 1.125rem;
  max-width: 46.875rem;
  margin: 4.5rem auto 0;
}
.showcase__list-note img {
  width: 3rem;
  height: auto;
}

/* Features section =========================== */
.features {
  margin-top: 3.875rem;
}
.features__header {
  background-image: url('../images/features-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  border-radius: 1.5625rem 1.5625rem 0 0;
  text-align: center;
  padding: 3.125rem 5rem 4.625rem;
}
.features__headline {
  font-size: 3.875rem;
  font-weight: 700;
  line-height: 1.16;
  max-width: 73rem;
  letter-spacing: -0.02em;
}
.features__subhead {
  font-size: 3.25rem;
  font-weight: 400;
  line-height: 1.38;
  letter-spacing: -0.02em;
  margin-top: 0.3125rem;
}
.features__subhead .highlight {
  color: #e0b338;
  font-weight: 700;
  text-decoration: underline;
}
.features__content {
  padding: 1.75rem 4rem 5.625rem;
  border: 0.125rem dashed #ebdca9;
  border-top: 0;
  background: #fffef9;
  position: relative;
}
.features__content::after {
  content: '';
  display: block;
  width: 6.5625rem;
  height: 6.5625rem;
  border: 0.4375rem solid #ebdca9;
  background-image: url('../images/arrow-down.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #ebdca9;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -3.3125rem;
  display: flex;
  justify-content: center;
}
.features__text-wrapper {
}
.features__text-wrapper p {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4;
  margin-top: 1.75rem;
}
.features__list {
  list-style: none;
  margin-bottom: 2.625rem;
}
.features__list li {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-top: 1.875rem;
  max-width: 57.5rem;
}
.features__list li::before {
  content: '';
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-image: url('../images/cross-1.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fdecec;
  border-radius: 50%;
  flex-shrink: 0;
}
.features__footer {
  margin-top: 2.75rem;
}
.features__footer h3 {
  font-family: 'Montserrat', sans-serif;
  color: #e0b338;
  text-align: center;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.38;
  border-bottom: 0.125rem solid #e0b338;
  padding-bottom: 1.125rem;
}
.features__text-1 {
  text-align: center;
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 1.38;
  max-width: 45.3125rem;
  margin: 2.75rem auto 0;
}
.features__text-1 .highlight {
  color: #db6157;
}
.features__text-2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.17;
  max-width: 40.625rem;
  margin: 1.5625rem auto 0;
}
@media (max-width: 41.0625em) {
  .features__headline {
    font-size: 3.675rem;
  }
}

/* ====================== Ownership Section =============== */
.ownership {
  margin-top: 7.625rem;
}

.ownership__content {
  text-align: center;
}

.ownership__title {
  text-align: center;
  font-size: 3.25rem;
  line-height: 1.31;
  letter-spacing: -0.02em;
}
.ownership__title .highlight {
  color: #e0b338;
}
.ownership__highlight--red {
  color: #db6157;
}
.ownership__subtitle {
  text-align: center;
  font-size: 3.875rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.02em;
  margin-top: 1.25rem;
}
.ownership__subtitle .highlight {
  background-color: #ebdca9;
  padding: 0.2rem 0.4rem;
  text-decoration-thickness: 0.075em;
  display: inline-block;
  line-height: 1;
}

.ownership__details {
  display: flex;
  gap: 1.75rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 4.875rem;
}
.ownership__details > * {
  flex: 1;
  max-width: 50%;
}
.ownership__text {
  max-width: 42%;
}
.ownership__text p {
  font-size: 1.125rem;
  font-weight: 500;
  text-align: left;
  line-height: 1.56;
  margin-bottom: 1.625rem;
}
p.ownership__text--1 {
  font-size: 1.5rem;
}
p.ownership__text--3 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.46;
  text-decoration: underline;
  margin-top: 2rem;
}
p.ownership__text--5 {
  color: #da6156;
}
.ownership__image img {
  border-radius: 1.5625rem;
}
.ownership__cta {
  margin-top: 4.625rem;
}
@media (max-width: 37.5em) {
  .ownership__title {
    font-size: 2.75rem;
  }
  .ownership__subtitle {
    font-size: 2.25rem;
  }
}
/* ==================== Branchify Section ================ */
.branchify {
  margin-top: 2.625rem;
}
.branchify__title {
  text-align: center;
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 1.31;
  letter-spacing: 0.01em;
  max-width: 50rem;
  margin: 0 auto;
  letter-spacing: -0.02em;
}
.branchify__title .highlight {
  color: #e0b338;
  text-decoration: underline;
  text-decoration-thickness: 0.05em;
}

.branchify__image {
  text-align: center;
  margin-top: 2.625rem;
}
.reason__tag {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #000;
  background: #ebdca9;
  display: inline-block;
  padding: 0.5625rem 1.625rem;
}
.reason__tag--1 {
  margin-top: 0.75rem;
}
.reason__tag--2 {
  margin-top: 1.75rem;
}
.reason__tag--3 {
  margin-top: 3.625rem;
}
.reason__tag--4 {
  margin-top: 1.5625rem;
}

.branchify__description {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.55;
  margin-top: 1.625rem;
  letter-spacing: 0;
}

.branchify__features,
.branchify__use-cases {
  margin: 2.5rem 0 0;
}

.branchify__features-title,
.branchify__use-cases-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.625rem;
  font-weight: 700;
  letter-spacing: 0;
  margin-top: 3.125rem;
}

.branchify__features-list,
.branchify__use-cases-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1.375rem;
}
.branchify__use-cases {
  margin-top: 4.25rem;
}
.branchify__features-list li,
.branchify__use-cases-list li {
  display: flex;
  align-items: center;
  gap: 0.875rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.77;
  margin-bottom: 1.125rem;
}
.branchify__use-cases-list li {
  gap: 0.6875rem;
  line-height: 1.54;
  margin-left: -0.3125rem;
  margin-bottom: 1.4375rem;
}

.branchify__features-list li::before {
  content: '';
  width: 1.375rem;
  height: 1.375rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../images/icons-rocket.svg');
}
.branchify__use-cases-list li::before {
  content: '';
  width: 1.6875rem;
  height: 1.6875rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../images/check_circle-1.svg');
}
.branchify__market {
  margin-top: 1.5625rem;
}
.branchify__market p {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 1.375rem;
  line-height: 1.5;
  margin-top: 0.875rem;
}
.branchify__market h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.625rem;
  font-weight: 700;
  line-height: 1.21;
  letter-spacing: 0;
  margin-bottom: 1.375rem;
}
.branchify__market h2 .highlight,
.branchify__competitor h2 .highlight {
  color: #db6157;
}
.branchify__competitor {
  margin-top: 0.75rem;
}
.branchify__competitor h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.625rem;
  font-weight: 700;
  line-height: 1.52;
  letter-spacing: 0;
}
.branchify__competitor p {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.54;
  letter-spacing: 0;
  margin-bottom: 1.75rem;
  margin-top: 0.625rem;
}
.branchify__unique {
  margin-top: 0.75rem;
}
.branchify__unique h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.625rem;
  font-weight: 700;
  line-height: 1.52;
  letter-spacing: 0;
}
.branchify__unique p {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.54;
  margin-top: 0.625rem;
  margin-bottom: 1.75rem;
}
.branchify__foryou {
  margin-top: 3.125rem;
}
.branchify__foryou h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.625rem;
  font-weight: 700;
  line-height: 1.05;
  text-decoration: underline;
  text-align: center;
  letter-spacing: 0;
  color: #e0b338;
}
.branchify__foryou h3 {
  color: #2367c0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.52;
  margin-top: 3.25rem;
  margin-bottom: 2.125rem;
}
.branchify__foryou p {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.54;
  margin-top: 1.875rem;
  letter-spacing: -0.01em;
}
.branchify__foryou .cta {
  margin-top: 4.6875rem;
}
/* ===================== Software Kit Section =================== */
.softkit {
  margin-top: 4.5rem;
}
.softkit__header {
  border-radius: 1.5625rem 1.5625rem 0rem 0rem;
  color: white;
  position: relative;
  z-index: 1;
}
.softkit__header::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: -4.625rem;
  border-radius: 1.5625rem 1.5625rem 0rem 0rem;
  background-image: url('../images/features-bg.jpg');
  z-index: 0;
}

.softkit__heading {
  text-align: center;
  font-size: 3.875rem;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.03em;
  line-height: 1.14;
  padding: 3.375rem 3.375rem 3.75rem;
  letter-spacing: -0.02em;
  max-width: 56rem;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.softkit__heading .highlight {
  color: #ebdca9;
}
.softkit__content {
  border-radius: 0rem 0rem 1.5625rem 1.5625rem;
  background: #f9f9f9;
  padding: 0 5.375rem 6.375rem;
}
.softkit__item {
  margin-bottom: 3.4375rem;
  position: relative;
  z-index: 1;
}
.softkit__item:last-child {
  margin-bottom: 0;
}

.softkit__item-content {
  display: flex;
  gap: 1rem;
  padding-top: 2.375rem;
  padding-left: 3.25rem;
  padding: 2rem 2.875rem 1.625rem;
  border-radius: 0 0 0.9375rem 0.9375rem;
  background: #fff;
  box-shadow: 0rem 1.75rem 3.46875rem 0rem rgba(0, 0, 0, 0.13);
  position: relative;
}

.softkit__item-title {
  font-size: 2.625rem;
  font-weight: 800;
  line-height: 1.3;
  color: #fff;
  background: #222;
  padding: 1.75rem 2.875rem 2.375rem;
  border-radius: 0.9375rem 0.9375rem 0rem 0rem;
  border: 0.125rem solid #ebdca9;
  border-bottom: 0;
}
.softkit__item-text {
  flex: 1;
  flex-basis: 57%;
  max-width: 57%;
}
.softkit__item-text .highlight {
  color: #da6156;
}
.softkit__item--video .softkit__item-text {
  max-width: 50%;
}
.softkit__item-text p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0;
  margin-bottom: 2rem;
}

.softkit__item-image {
  text-align: center;
  flex-basis: 40%;
}
.softkit__item-image img {
  max-height: 18.75rem;
}
.softkit__item--whitelabel .softkit__item-image {
  margin-top: -1.0625rem;
  margin-bottom: -0.3125rem;
  margin-right: 0.8125rem;
}
.softkit__item--sourcecode .softkit__item-image {
  margin-top: -1rem;
  margin-bottom: -1.125rem;
}
.softkit__item--softcopy .softkit__item-image {
  position: absolute;
  right: -3.625rem;
}
.softkit__item--softcopy .softkit__item-image img {
  max-height: 20.3125rem;
}
.softkit__item--funnel .softkit__item-image img {
  max-height: 25rem;
  margin-top: -1.5rem;
  margin-right: -2.625rem;
  margin-left: -3.125rem;
  margin-bottom: -1rem;
  max-width: 150%;
}

.softkit__item--funnel .softkit__item-image {
  margin-bottom: -1.875rem;
}
.softkit__item--video .softkit__item-image img {
  margin-right: -7.625rem;
  max-height: 15rem;
}
@media (max-width: 37.5em) {
  .softkit__item-title {
    font-size: 2.25rem;
  }
  .softkit__heading {
    font-size: 3rem;
  }
  .softkit__item-content {
    flex-direction: column-reverse;
  }
  .softkit__item-text {
    max-width: 100%;
    margin-top: 2rem;
  }
  .softkit__item-image {
    margin: 0 auto;
  }
  .softkit__item--whitelabel .softkit__item-image {
    margin-left: auto;
    margin-right: auto;
  }
  .softkit__item--softcopy .softkit__item-image {
    position: static;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .softkit__item--funnel .softkit__item-image {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .softkit__item--video .softkit__item-image {
    margin-left: auto;
    margin-right: auto;
  }
  .softkit__item--video .softkit__item-image img {
    margin-right: auto;
    margin-left: auto;
  }
  .softkit__item--video .softkit__item-text {
    max-width: 100%;
  }
  .softkit__item:first-of-type .softkit__item-text {
    margin-top: 0 !important;
  }
  .softkit__item--video .softkit__item-image {
    width: 100%;
  }
  .softkit__item-image {
    width: 50%;
  }
}
/* ====================== Bonus Section ===================*/
/* Bonuses Section */
.bonuses {
  margin-top: 2.5rem;
}

.bonuses__heading {
  text-align: center;
  font-size: 3.875rem;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.02em;
  margin: 5.25rem auto 0;
  max-width: 50rem;
  letter-spacing: -0.02em;
}
.bonuses__heading .highlight {
  color: #e0b338;
}

.bonuses__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3.125rem 2.5rem;
  max-width: 68.25rem;
  margin: 7rem auto 0;
}

.bonuses__item {
  flex: 1;
  border: 0.0625rem solid #ebdca9;
  border-radius: 1.5625rem;
  background: #fffef9;
  padding: 0 2.25rem 3.125rem;
  text-align: center;
  flex: 1 0 calc(50% - 1.25rem);
  max-width: calc(50% - 1.25rem);
}

.bonuses__item-header {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: -0.01em;
  padding: 0.85em 1rem;
  background: #ebdca9;
  border-radius: 0.25rem;
  width: fit-content;
  margin: -1.45em auto 0;
  line-height: 1;
  position: relative;
  z-index: 1;
}

.bonuses__item-content {
  margin-top: 1rem;
  text-align: left;
}
.promo-email-img {
  margin-top: -7.56%;
  margin-bottom: -12%;
}
.facebook-ads-img {
  margin-bottom: -11%;
}
.promo-reels-img {
  margin-bottom: -4.5%;
}
.bonuses__item-title {
  font-size: 3.25rem;
  line-height: 1.38;
  letter-spacing: -0.02em;
  margin-top: 1.5625rem;
}
.bonuses__item-description {
  margin-top: 1.375rem;
}
.bonuses__item-description p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  letter-spacing: 0;
  margin-right: 0.1875rem;
}
.bonuses__item-description p:last-child {
  margin-bottom: 0;
}
.bonus__cta {
  margin-top: 8rem;
}
@media (max-width: 37.5em) {
  .bonuses__list {
    flex-direction: column;
  }
  .bonuses__item {
    max-width: 100%;
  }
  .bonuses__item-title {
    margin-top: 1.5rem;
  }
}
/* ============================ Testimonials Section ====================*/
.testimonials {
  margin-top: 5.75rem;
}
.testimonials__title {
  font-size: 3.875rem;
  line-height: 1.16;
  letter-spacing: -0.02em;
  max-width: 55rem;
  margin: 0 auto;
  text-align: center;
}
.testimonials__title .highlight {
  color: #e0b338;
}

.testimonials__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  gap: 6.5rem 1.375rem;
  margin-top: 5.75rem;
}

.testimonial {
  border: 0.125rem solid #ebdca9;
  border-radius: 0.9375rem;
  padding: 1.75rem 1.1875rem 2.5rem 1.5rem;
  box-shadow: 0rem 1.875rem 3.58125rem 0rem rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.testimonial__quote {
  font-size: 1.125rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 1.56;
  letter-spacing: 0;
  position: relative;
}

.testimonial__quote::before {
  content: '';
  position: absolute;
  top: -3.75rem;
  left: -0.125rem;
  display: block;
  width: 3rem;
  height: 3rem;
  background-image: url('../images/fa-solid_quote-left-1.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.testimonial__name {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.75;
  padding-top: 1.25rem;
  margin-top: auto;
}

.testimonial__rating {
  display: flex;
  gap: 0.15625rem;
  margin-top: 0.1875rem;
}

@media (max-width: 48em) {
  .testimonials__grid {
    grid-template-columns: 1fr 1fr;
  }
  .results .testimonials .testimonials__grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 31.25em) {
  .testimonial__quote {
    font-size: 1.75rem;
  }
  .testimonial__name {
    font-size: 1.5rem;
  }
  .testimonials__grid {
    grid-template-columns: 1fr;
  }
  .results .testimonials .testimonials__grid {
    grid-template-columns: 1fr;
  }
}
/* ====================== Think  ==================== */
.think {
  margin-top: 5.875rem;
}
.think__title {
  text-align: center;
  font-size: 3.875rem;
  line-height: 1.16;
  letter-spacing: -0.02em;
}
.think__content {
  background-color: #fbf9f3;
  border: 0.125rem solid #ebdca9;
  border-radius: 1.5625rem;
  padding: 2.25rem 1.875rem;
  margin-top: 4.625rem;
}
.think__content p {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4;
}
.think__list {
  list-style: none;
  margin-top: 1.375rem;
  margin-right: -0.625rem;
}
.think__list li {
  font-size: 1.25rem;
  line-height: 2.75;
  font-weight: 500;
}
.think__list li::before {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.875rem;
  background-size: contain;
  background-image: url('../images/check-circle-1.svg');
  background-repeat: no-repeat;
  vertical-align: middle;
}
.think__content h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.375rem;
  color: #db6157;
  line-height: 1.27;
  text-decoration: underline;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.think__cta {
  margin-top: 5.25rem;
}
/* ================ How Much =============== */
.howmuch {
  margin-top: 5.125rem;
}
.howmuch__title {
  text-align: center;
  font-size: 3.875rem;
  line-height: 1.16;
  letter-spacing: -0.02em;
  max-width: 50rem;
  margin: 0 auto;
}
.howmuch__title .highlight {
  color: #e0b338;
}
.howmuch__title-tag {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  margin-top: 2.625rem;
}
.howmuch__subtitle {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 1.875rem;
}
.howmuch__subtitle .highlight {
  font-weight: 700;
  background-color: #ffd54a;
}
.howmuch__image {
  margin-top: 2.125rem;
}
.howmuch__image img {
  max-width: 127%;
  margin-left: -12%;
  margin-right: -12%;
}
.howmuch__math h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  text-decoration: underline;
  margin-top: 3.75rem;
}
.howmuch__math p {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 1.375rem;
}
.howmuch__model {
  margin-top: 1.875rem;
}
.howmuch__model h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 1.25;
  background: #ebdca9;
  padding: 1.3125rem 2.5rem 1.4375rem;
  display: list-item;
  list-style: auto;
  list-style-position: inside;
}
.howmuch__model p {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
  margin-left: 2.125rem;
  margin-top: 1.875rem;
  margin-right: 1.875rem;
}
.howmuch__model-heading {
  margin-top: 3.25rem;
}
@media (max-width: 768px) {
  .howmuch__image img {
    max-width: 110%;
    margin-left: -5%;
    margin-right: -5%;
  }
}
/* =====================  Pricing Section =====================  */
/* Pricing Section */
.pricing {
  color: #000;
  position: relative;
  padding-top: 6.25rem;
  padding-bottom: 8.125rem;
  margin-top: 6.875rem;
}
.pricing__title {
  text-align: center;
  font-size: 3.875rem;
  line-height: 1.16;
  letter-spacing: -0.02em;
}
.pricing__title .highlight {
  color: #e0b338;
}
.pricing__title .underline {
  font-weight: 500;
}
.pricing__subtitle {
  color: #db6157;
  text-align: center;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.23;
  max-width: 40rem;
  margin: 2.5rem auto 0;
}
.double-arrow {
  display: block;
  margin: 4.375rem auto 0;
  width: 4.375rem;
}
.pricing::before {
  content: '';
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translateX(-50%);
  width: 100vw;
  position: absolute;
  background-image: url('../images/pricing-bg.jpg');
  background-size: cover;
  z-index: -1;
}
.pricing::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -2.4375rem;
  width: 4.375rem;
  height: 4.375rem;
  background-image: url('../images/double-arrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
.pricing__cards {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 3.875rem;
}
.pricing__card {
  text-align: left;
  max-width: 33.375rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  border-radius: 1.5625rem;
}
.pricing__card--starter {
  background: #fdfaf0;
}
.pricing__card--full {
  position: relative;
  background: #f4ecd4;
}
.pricing__card-header {
  margin: -0.125rem -0.125rem 0;
  position: relative;
  border-radius: 1.5625rem 1.5625rem 0rem 0rem;
}
.pricing__card--starter .pricing__card-header {
  background: #da6156;
}
.pricing__card--full .pricing__card-header {
  background: #000;
}
.pricing__card-header::after {
  content: '';
  width: 2.4375rem;
  height: 1.1875rem;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1.125rem;
  background-image: url('../images/Polygon-5.svg');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}
.pricing__card--full .pricing__card-header::after {
  background-image: url('../images/Polygon-6.svg');
}
.best-offer__tag {
  background: #ebdca9;
  padding: 0.5rem 1.25rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  width: max-content;
  margin-top: -1.5rem;
  border-radius: 3rem;
}
.best-offer__tag .star-icons {
  display: flex;
  flex-shrink: 0;
}
.best-offer__tag .offer-text {
  color: #000;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.02em;
  padding: 0 0.5rem;
  text-decoration: underline;
}
.pricing__card-content {
  padding: 1.125rem 1.5625rem;
  display: flex;
  flex-direction: column;
  height: 100%;

  border: 0.125rem dashed #e0b338;
  border-width: 0 0.125rem 0 0.125rem;
}

.pricing__card-title {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding: 3.125rem 1.25rem 3.5rem;
  letter-spacing: 0.02em;
  line-height: 1.16;
}
.pricing__card--full .pricing__card-title {
  position: relative;
  top: 0.375rem;
  color: #ffd54a;
}
.pricing__card-image {
  margin-left: -14%;
  margin-right: -15%;
  text-align: center;
  min-height: 21.375rem;
}

.pricing__features {
  list-style: none;
  padding: 0;
}
.pricing__features li::before {
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../images/check-circle-1.svg');
}

.pricing__features li {
  font-size: 1.125rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  letter-spacing: 0;
  margin-bottom: 0.75rem;
}
.pricing__features li:last-child {
  margin-bottom: 0;
}
.pricing__kit {
  margin-top: 1.25rem;
  margin-bottom: 0.25rem;
  padding-bottom: 1.875rem;
  border-bottom: 0.125rem solid #ebdca9;
}
.pricing__kit-btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  color: #ca2c31;
  font-weight: 700;
  line-height: 1.5;
  background: #ffdedb;
  padding: 1.1875rem;
  text-align: center;
  margin-top: 0.9375rem;
  letter-spacing: 0.01em;
  border-radius: 0.75rem;
  border: 0.125rem dashed #db6157;
}
.pricing__kit:last-of-type {
  border-bottom: 0;
}
.pricing__kit-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.375rem;
  line-height: 1.32;
  letter-spacing: 0.01em;
  font-weight: 700;
}
.pricing__kit-desc {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.32;
  margin-top: 0.75rem;
  line-height: 1.625;
}
.pricing__kit-desc strong {
  font-family: 'Montserrat', sans-serif;
}

.pricing__kit-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  margin-top: 1.875rem;
  letter-spacing: 0;
}
.pricing__kit-subtitle .text-yellow {
  color: #e0b338;
}

.pricing__kit-cta {
  font-size: 1.625rem;
  line-height: 1.32;
  letter-spacing: 0;
  padding-top: 1.875rem;
  margin-top: auto;
  margin-bottom: 1.125rem;
  color: #db6157;
  font-weight: 700;
  text-align: center;
}

.pricing__price-box {
  text-align: center;
  border-radius: 0rem 0rem 1.5625rem 1.5625rem;
  background: #000;
  z-index: 2;
  padding: 1.5rem 1.5rem 1.25rem;
}

.pricing__price-normal {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2.05;
  letter-spacing: 0.01em;
  color: #fff;
  text-align: center;
}

.pricing__price-normal-value {
  text-decoration: line-through;
}

.pricing__price {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.625rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #ebdca9;
}

.pricing__price-highlight {
  color: #5efa80;
  font-weight: 900;
  padding-left: 0.3125rem;
}

.pricing__payment-info {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2.05;
  letter-spacing: -0.025em;
  color: #fff;
  text-align: center;
  margin-top: 0.625rem;
}

.pricing__btn {
  color: #000;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.875rem;
  font-size: 1.77238rem;
  padding: 1.2rem 1rem 0.93em;
  letter-spacing: 0;
  border-radius: 0.625rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  margin-top: 0.9375rem;
  width: 100%;
  background: #5efa80;
  box-shadow: 0rem -0.5316875rem 0rem 0rem rgba(0, 0, 0, 0.25) inset;
}
.pricing__btn img {
  width: 2.125rem;
  height: auto;
}

.pricing__payment-footer {
  display: flex;
  justify-content: center;
  margin: 0.875rem 0 0;
  gap: 1rem;
}
.pricing__payment-options,
.pricing__payment-notes {
  background-color: black;
  line-height: 1;
}
.pricing__payment-options {
  display: flex;
  flex: 1.55;
  align-items: center;
  justify-content: space-evenly;
  border-right: 0.0625rem solid #b1b1b1;
  background: #ebdca9;
  border-radius: 0.5rem;
}
.pricing__payment-notes {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 0.9375rem;
  text-align: left;
  padding: 0.53125rem 0.5rem 0.375rem;
  background: #ebdca9;
  border-radius: 0.4375rem;
}
.pricing__payment-note {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.4375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
  display: flex;
  align-items: flex-start;
}
.pricing__payment-note img {
  flex-shrink: 0;
  margin-right: 0.28125rem;
}

@media (max-width: 48em) {
  .pricing__card {
    width: 100%;
  }
}
@media (max-width: 31.25em) {
  .pricing__cards {
    display: grid;
    grid-auto-rows: 1fr;
    gap: 5rem;
  }
  .pricing__card {
    width: 100%;
    max-width: 100%;
  }
  .pricing__features li {
    font-size: 1.325rem;
  }
  .pricing__card-title {
    font-size: 2.075rem;
  }
  .pricing__price-normal {
    font-size: 1.45rem;
  }
  .pricing__payment-info {
    font-size: 1.2rem;
  }
  .pricing__payment-note {
    font-size: 0.9rem;
  }
  .pricing__btn {
    font-size: 2rem;
  }
  .pricing__payment-options {
    flex: 1;
  }
  .pricing__kit-title {
    font-size: 1.5rem;
  }
  .pricing__kit-subtitle {
    font-size: 1.5rem;
  }
  .pricing__kit-btn {
    font-size: 1.5rem;
  }
  .pricing__kit-desc {
    font-size: 1.25rem;
  }
  .pricing__kit-cta {
    font-size: 1.5rem;
  }
  .best-offer__tag {
    margin-top: -2.5rem;
  }
}
/*================= Guarantee ==============*/
.guarantee {
  background: #fbf9f3;
  border: 0.125rem solid #ebdca9;
  border-radius: 1.5625rem;
  margin-top: 5.125rem;
}
.guarantee__container {
  display: flex;
  justify-content: space-between;
}
.guarantee__text {
  padding: 2.625rem 1.25rem 2.625rem 3.25rem;
}
.guarantee__title {
  font-size: 3.875rem;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: -0.02em;
  margin-right: -10%;
}
.guarantee__description {
  font-size: 1.125rem;
  line-height: 1.61;
  margin-top: 1.375rem;
  letter-spacing: 0;
}
.guarantee__badge {
  flex-shrink: 0;
  max-width: 40%;
}
.guarantee__badge-image {
  margin-top: -1rem;
  margin-bottom: -2rem;
  position: relative;
  right: -1.4375rem;
}
@media (max-width: 48em) {
  .guarantee__badge {
    max-width: 40%;
    margin-left: -3.125rem;
  }
}
@media (max-width: 31.25em) {
  .guarantee__title {
    font-size: 2.3rem;
  }
  .guarantee__badge {
    margin-left: -2.5rem;
  }
}
/* ==================== Gladiator Section =================== */
.gladiator {
  margin-top: 4.75rem;
}
.gladiator__header {
  background-image: url('../images/gladiator-bg.jpg');
  background-size: cover;
  color: #fff;
  border-radius: 1.5625rem 1.5625rem 0 0;
  padding: 2.1875rem 2.5rem 3.125rem;
}

.gladiator__tag {
  color: #ebdca9;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.45;
  text-align: center;
}
.gladiator__title {
  font-size: 3.875rem;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: -0.02em;
  margin-top: 0.625rem;
  text-align: center;
}
.gladiator__text {
  color: #fff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
  margin-top: 0.875rem;
  font-weight: 500;
  line-height: 1.61;
  margin-left: 0.5rem;
}
.gladiator__value {
  margin-top: 0.625rem;
  text-align: center;
}
.gladiator__value-text {
  font-family: 'Oswald', sans-serif;
  font-size: 3.875rem;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
}
.gladiator__value-value {
  color: #3edb61;
  font-family: 'Oswald', sans-serif;
  font-size: 3.875rem;
  font-weight: 700;
  line-height: 1.16;
  text-decoration: underline;
  padding-left: 0.375rem;
}
.gladiator__wrapper {
  display: flex;
  gap: 3.75rem;
  padding: 3.75rem 2.8125rem 0;
  background: #fbf9f3;
  border: 0.125rem solid #ebdca9;
  border-top: 0;
  border-radius: 0 0 1.5625rem 1.5625rem;
}
.gladiator__wrapper > * {
  flex: 1 0 50%;
}
.gladiator__content {
  max-width: 60%;
  padding-bottom: 1.25rem;
}
.gladiator__content p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.45;
  margin-bottom: 1.25rem;
}
.gladiator__image {
  max-width: 40%;
  margin-top: 5%;
}
.gladiator__image img {
}
@media (max-width: 48em) {
  .gladiator__image {
    right: 0;
  }
}
@media (max-width: 37.5em) {
  .gladiator {
    padding-bottom: 1.5rem;
  }
  .gladiator__wrapper {
    flex-wrap: wrap;
    gap: 4rem;
  }
  .gladiator__content {
    max-width: 100%;
  }
}

/* ==================== Choice ================ */
.choice {
  margin-top: 4.5rem;
}
.choice h2 {
  color: #000;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 3.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: -0.02em;
}
.choice h2 .highlight {
  color: #e0b338;
}
.choice__list {
  list-style: none;
  margin-top: 3.125rem;
}
.choice__list li {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.375rem;
  font-style: italic;
  font-weight: 600;
  line-height: 1.55;
  display: flex;
  align-items: center;
  gap: 2.125rem;
  margin-top: 2.25rem;
}
.choice__list li .list__icon {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-size: 2.11956rem;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: -0.02em;
  background: #ebdca9;
  border-radius: 50%;
  width: 3.75rem;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.choice__cards {
  display: flex;
  gap: 1.75rem;
  margin-top: 7.8125rem;
}
.choice__card {
  border-radius: 1.5625rem;
  flex: 1 0 50%;
  max-width: calc(50% - 0.875rem);
  padding: 2.25rem;
}
.choice__card--old {
  border: 0.125rem solid #e3e3e3;
}
.choice__card--old h3 img {
  width: 2.5rem;
}
.choice__card--new {
  border: 0.125rem solid #e0b338;
  background: #fbf9f3;
}
.choice__card h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  border-radius: 0.875rem;
  border: 0.0625rem solid #d9d9d9;
  background: #fff;
  box-shadow: 0rem 0rem 6.25rem 0rem rgba(0, 0, 0, 0.05);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: -5.4375rem 0 2.125rem;
  padding: 1.875rem;
}
.choice__card--new h3 {
  border: 0.125rem solid #26bc30;
  background: #7aff98;
}
.choice__card--new h3 img {
  width: 2.5rem;
  height: auto;
}
.choice__card-list {
  padding-left: 1.5rem;
  margin-right: 0.625rem;
}

.choice__card-list li {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 2.22;
}
.launching-img {
  margin: 0 auto;
  display: block;
  padding-left: 21%;
  margin-top: -1.875rem;
}
.choice__cta {
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2;
  text-decoration: none;
  padding: 0.6875rem;
  display: inline-block;
  border: 0.25rem solid transparent;
  border-radius: 0.5rem;
  display: flex;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;

  /* Gradient Border */
  background-image: linear-gradient(white, white), linear-gradient(135deg, #ff0d0d, #330fff, #e0b338);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
/* ======================== Offer Section ======================= */
.offer {
  text-align: center;
  margin-top: 6rem;
}

.offer__warning {
  color: #fff;
  padding: 3.75rem 2.5rem 6.875rem;
  position: relative;
  background-color: #db6157;
  background-image: url('../images/gladiator-bg.jpg');
  border-radius: 1.5625rem 1.5625rem 0rem 0rem;
}
.offer__warning-tag {
  color: #ebdca9;
  text-align: center;
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.32;
  max-width: 56.25rem;
  margin: 0 auto;
}

.offer__warning-title {
  font-size: 3.875rem;
  font-weight: 500;
  line-height: 1.16;
  text-align: center;
  letter-spacing: -0.01em;
  max-width: 46rem;
  margin: 1rem auto 0;
}
.offer__warning-title .highlight {
  text-decoration: underline;
  font-weight: 800;
  letter-spacing: 0.01em;
  text-decoration-thickness: 0.075em;
  color: #e0b338;
}

.offer__details {
  padding: 0.8125rem 5.3125rem 6.9375rem;
  border: 0.125rem solid #db6157;
  border-top: 0;
  background: #fbf3f3;
}

.offer__content {
  text-align: center;
}

.offer__image {
  text-align: center;
}
.offer__content p:last-child {
  margin-bottom: 0;
}

.offer__cta {
  text-align: center;
  margin-top: 4.375rem;
}

/* custom */
.offer__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2.625rem 1.875rem 3.5rem 2.5rem;
  border: 0.125rem solid #ebdca9;
  border-top: 0;
  background: #fbf9f3;
  border-radius: 0rem 0rem 1.5625rem 1.5625rem;
}

.offer__content {
  flex: 0 1 50%;
  text-align: left;
}

.offer__image {
  flex: 0 1 42%;
  text-align: center;
}

.offer__image-img {
  max-width: 124%;
  height: auto;
  margin-left: -15%;
  width: 124%;
  margin-top: 0;
}

.offer__text {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.61;
  letter-spacing: 0;
  margin-bottom: 0.625rem;
}
.offer__text:last-child {
  margin-bottom: 0;
}
@media (max-width: 48em) {
  .offer__content {
    margin-bottom: 1.25rem;
    padding-right: 0;
  }
  .offer__image-img {
    max-width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 37.5em) {
  .offer__warning {
    padding: 3.625rem 2.5rem 3.875rem;
  }
  .offer__warning-title {
    font-size: 2rem;
  }
  .offer__content p {
    font-size: 1.5rem;
  }
  .offer__details {
    flex-direction: column;
    text-align: center;
    padding: 0.8125rem 3.3125rem 3.9375rem;
  }
  .intro__timer {
    background: none;
  }
}

@media (max-width: 31.25em) {
  .offer__warning-title {
    font-size: 1.25rem;
  }
  .offer__cta {
    font-size: 3.15rem;
  }
  .offer__text {
    font-size: 1.25rem;
  }
  .offer__details {
    flex-direction: column;
    text-align: center;
  }
  .intro {
    padding-top: 3.5rem;
  }
}

/* =================== FAQ =================== */
.faq {
  margin-top: 4.6875rem;
  padding-top: 5rem;
  padding-bottom: 3.5rem;
  position: relative;
}
.faq::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  background-color: #fbf9f3;
  z-index: -1;
}
.faq__title {
  text-align: center;
  font-size: 3.875rem;
  line-height: 1.16;
  letter-spacing: -0.02em;
}
.faq__title .highlight {
  color: #e0b338;
}
.faq__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  margin-top: 2rem;
}
.faq__item {
  flex: 1 0 45%;
  max-width: 45%;
  border-bottom: 0.0625rem solid #000;
  margin-top: 2.375rem;
  padding-bottom: 2.375rem;
}
.faq__ques {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  line-height: 1.42;
}
.faq__ans {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 1rem;
  letter-spacing: 0.01em;
  line-height: 1.2;
  margin-top: 0.875rem;
}
.faq__ans a {
  color: inherit;
}
.faq__item:last-child,
.faq__item:nth-last-child(2) {
  border-bottom: 0;
}
@media (max-width: 48em) {
  .faq__wrapper {
    gap: 5%;
    justify-content: space-around;
  }
  .faq__item {
    margin-top: 1.375rem;
    padding-bottom: 1.375rem;
  }
}
/* =================== Footer ================= */
.footer {
  background-color: #1b1b1b;
  text-align: center;
  padding-top: 3.75rem;
  color: white;
}
.footer__wrapper {
  max-width: 62rem;
  margin: 0 auto;
  padding: 0 2.5rem;
}
.footer__logo-img {
  padding: 1.5rem 1.6875rem 1.875rem;
  background-color: #1b1b1b;
}
.footer__textbox {
  margin-top: 2.5rem;
  margin-bottom: 1.875rem;
}
.footer__text {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0.875rem;
}
.footer__hr {
  border: 0;
  border-bottom: 0.0625rem solid #ebdca9;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.footer__note {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 2;
  padding: 1.5625rem;
}
@media (max-width: 48em) {
  .footer {
    margin-top: 5rem;
  }
  .footer__wrapper {
    padding: 0 1.25rem;
  }
  .footer__logo-img {
    max-width: 70%;
  }
  .footer__text {
    font-size: 0.625rem;
  }
  .footer__note {
    font-size: 0.625rem;
  }
}
@media (max-width: 85.375em) {
  html {
    font-size: 0.84rem;
  }
  .main {
    padding: 0 6.25rem;
  }
}

@media (max-width: 64em) {
  html {
    font-size: 0.75rem;
  }
}
@media (max-width: 48em) {
  html {
    font-size: 0.65rem;
  }
  .main {
    padding: 0 2.5rem;
  }
}
@media (max-width: 31.25em) {
  html {
    font-size: 0.5rem;
  }
  .main {
    padding: 0 2rem;
  }
}
@media (max-width: 25em) {
  html {
    font-size: 0.45rem;
  }
}
